<?xml version="1.0"?>
<!-- drive.launch
     Launch file for reactive drive controller

     @author  Syler Wagner  <syler@mit.edu>
     
     @date    2016-09-17   syler   creation
    -->
<launch>

	<arg name="max" default="5" doc="maximum forward velocity in m/s" />
	<arg name="ignore_tf" doc="true if laser frame tf infomation should be ignored"/>

	<!-- reactive drive controller -->
	<node pkg="gigatron" type="drive" name="reactive_drive">
		<param name="v_max" value="$(arg max)" />
		<param name="ignore_tf" value="$(arg ignore_tf)" />
	</node>

</launch>
