<?xml version="1.0"?>
<!-- drive.launch
     Launch file for reactive drive controller

     @author  Syler Wagner  <syler@mit.edu>
     
     @date    2016-09-17   syler   creation
    -->
<launch>

	<arg name="scan_topic" default="zed/scan" />
	<arg name="ignore_tf" default="false" doc="true if laser frame tf infomation should be ignored"/>
	<arg name="inverted_lidar" default="false" doc="true if LIDAR is rotated 180 degrees" />
	<arg name="max" default="5" doc="maximum forward velocity in m/s" />

	<!-- reactive drive controller -->
	<node pkg="gigatron" type="drive" name="reactive_drive">
		<param name="scan_topic" value="$(arg scan_topic)" />
		<param name="ignore_tf" value="$(arg ignore_tf)" />
		<param if="$(arg inverted_lidar)" name="lidar_yaw" value="3.141592653589793" />
		<param name="v_max" value="$(arg max)" />
	</node>

</launch>
