<?xml version="1.0"?>
<!-- drive.launch
     Launch file for reactive drive controller

     @author  Syler Wagner  <syler@mit.edu>
     
     @date    2016-09-17   syler   creation
    -->
<launch>

	<arg name="scan_topic" default="rplidar/scan" />
	<arg name="ignore_tf" default="false" doc="true if laser frame tf infomation should be ignored"/>
	<arg name="inverted_lidar" default="false" doc="true if LIDAR is rotated 180 degrees" />
	<arg name="upside_down" default="true" doc="true if LIDAR is upside down" />
	<arg name="max" default="5" doc="maximum forward velocity in m/s" />

	<arg name="car" doc="'kilotron' or 'gigatron'?" default="gigatron" />

    <!-- load car platform parameters into "car" namespace -->
    <rosparam file="$(find gigatron_hardware)/config/$(arg car)_platform.yaml" ns="car" command="load" /> 


	<!-- reactive drive controller -->
	<node pkg="gigatron" type="drive" name="reactive_drive">
		<param name="scan_topic" value="$(arg scan_topic)" />
		<param name="ignore_tf" value="$(arg ignore_tf)" />
		<param if="$(arg inverted_lidar)" name="lidar_yaw" value="3.141592653589793" />
		<param name="upside_down_lidar" value="$(arg upside_down)" />
		<param name="v_max" value="$(arg max)" />
	</node>

</launch>
