<?xml version="1.0"?>

<!-- car.launch
     Launch file for Gigatron and Kilotron hardware

     @author  Syler Wagner  <syler@mit.edu>
     
     @date    2016-08-17    syler   creation

     Launch Gigatron:
     	roslaunch gigatron_hardware car.launch gigatron:=true
     Launch Kilotron:
       	roslaunch gigatron_hardware car.launch gigatron:=false
    -->

<launch>


	<arg name="car" doc="'kilotron' or 'gigatron'?" />

	<arg name="lidar" doc="'rplidar' or 'xvlidar'?" /> 
	<arg name="gps" doc="using GPS sensor or no?" />

	<arg name="rviz" default="false" /> <!-- display robot in RViz -->

	<!-- URDF model with robot state publisher -->
	<include file="$(find gigatron_hardware)/launch/xacro.launch" >
		<arg name="car" value="$(arg car)" />
	</include>

	<!-- Arduino -->
	<include file="$(find gigatron_hardware)/launch/arduino.launch" >
		<arg name="car" value="$(arg car)" />
	</include>


	<!-- sensors -->

	<!-- Adafruit 9DOF IMU -->
	<include file="$(find gigatron_hardware)/launch/sensors/imu.launch" >
		<arg name="car" value="$(arg car)" />
		<arg name="frame_id" default="imu_link"/>
		<arg name="update_rate" default="20" />
	</include>

	<!-- RPLIDAR or Neato XV LIDAR  -->
	<include file="$(find gigatron_hardware)/launch/sensors/$(arg lidar).launch" >
		<arg name="frame_id" default="laser_link" />
	</include>

	<!-- launch GPS sensor if applicable -->
	<group if="$(arg gps)" >
		<include file="$(find gigatron_hardware)/launch/sensors/gps.launch" >
			<arg name="rmc" default="true" doc="If 'true', fixes will be generated from RMC. If 'false', fixes will be generated based on the GGA sentences. Using GGA sentences allows for approximated covariance output while RMC provides velocity information." />
			<arg name="odom" default="true" doc="set to 'true' to generate gps-based odometry" />
		</include>
	</group>

	<!-- /sensors -->


	<!-- laser filters -->
	<include file="$(find gigatron_hardware)/launch/laser_filters.launch" >
		<arg name="range_filter" value="false" /> <!-- turn this off for now -->
	</include>

	<!-- RViz -->
	<include if="$(arg rviz)" file="$(find gigatron)/launch/rviz.launch" >
		<arg name="config" default="car"/>
	</include>

</launch>
