<?xml version="1.0"?>
<!-- laser_estop_filter.launch
     Gigatron laser estop filter launch file

     @author  Syler Wagner  <syler@mit.edu>

     @date    2017-01-01    syler   creation

     This launch file filters laser scans and keeps points within 1m of the car.
     Config file is located in gigatron_hardware/config/sensors/estop_filter_config.yaml

     Usage Instructions:
     1. In a terminal window, run:
        roslaunch gigatron_hardware laser_estop_filter.launch
    -->

<launch>

    <arg name="filter_name" doc="name of filter node" default="estop_filter" />
    <arg name="input_topic" doc="scan topic the filter subscribes to" default="rplidar/scan/forward" />
    <arg name="output_topic" doc="scan topic the filter publishes to" default="rplidar/scan/estop" />
    <arg name="estop_topic" default="arduino/command/stop" />

    <!-- filter range too close -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="$(arg filter_name)" >
        <rosparam command="load" file="$(find gigatron_hardware)/config/sensors/estop_filter_config.yaml" />
        <remap from="scan" to="$(arg input_topic)" />
        <remap from="scan_filtered" to="$(arg output_topic)" />
    </node>

    <node pkg="gigatron" type="stop" name="estop_node" >
        <param name="scan_topic" value="$(arg output_topic)" />
        <param name="estop_topic" value="$(arg estop_topic)" />
    </node>

</launch>
