<?xml version="1.0"?>

<!-- gigatron.launch
     Launch file for gigatron hardware

     @author  Syler Wagner  <syler@mit.edu>
     
     @date    2016-08-17    syler   creation
    -->

<launch>

	<arg name="mac" default="false" /> <!-- control from OS X -->
	<arg name="lidar" default="rplidar" doc="'rplidar' or 'xv'?" /> 
	<arg name="lidar_port" default="/dev/ttyUSB0" doc="serial port for LIDAR" /> 

	<!-- Arduino -->
	<include file="$(find gigatron_hardware)/launch/arduino.launch" >
		<arg name="mac" value="$(arg mac)" />
		<arg name="gigatron" value="true" />
	</include>

	<!-- Adafruit 9DOF IMU -->
	<include file="$(find gigatron_hardware)/launch/sensors/imu.launch" >
		<arg name="car" value="kilotron" />
		<arg name="frame_id" default="imu_link"/>
		<arg name="update_rate" default="0" />
	</include>
	<!-- base_link to imu_link static_transform_publisher -->
	<include file="$(find gigatron_hardware)/launch/sensor_transform.launch" >
		<arg name="car" value="gigatron" />
		<arg name="sensor" value="imu" />
	</include>

	<!-- RPLIDAR or Neato XV LIDAR  -->
	<include file="$(find gigatron_hardware)/launch/sensors/$(arg lidar).launch" >
		<arg name="frame_id" default="laser_link"/>
		<arg name="port" default="$(arg lidar_port)"/>
	</include>
	<!-- base_link to laser_link static_transform_publisher -->
	<include file="$(find gigatron_hardware)/launch/sensor_transform.launch" >
		<arg name="car" value="gigatron" />
		<arg name="sensor" value="laser" />
	</include>

</launch>
