<?xml version="1.0"?>

<!-- gigatron.launch
     Launch file for Gigatron hardware

     @author  Syler Wagner  <syler@mit.edu>
     
     @date    2016-08-17    syler   creation
    -->

<launch>

	<arg name="car" value="gigatron" />
	<arg name="lidar" default="rplidar" doc="'rplidar' or 'xvlidar'?" /> 
	<arg name="rviz" default="true" /> <!-- display robot in RViz -->

	<!-- car launch file -->
	<include file="$(find gigatron_hardware)/launch/car.launch" >
		<arg name="car" value="$(arg car)" />
		<arg name="lidar" value="$(arg lidar)" />
		<arg name="rviz" value="$(arg rviz)" />
	</include>

</launch>
