<?xml version="1.0"?>

<!-- kilotron.launch
     Launch file for Kilotron hardware

     @author  Syler Wagner  <syler@mit.edu>
     
     @date    2016-08-17    syler   creation
    -->

<launch>

	<arg name="car" value="kilotron" />
	<arg name="lidar" default="rplidar" doc="'rplidar' or 'xvlidar'?" /> 
	<arg name="rviz" default="false" /> <!-- display robot in RViz -->
	<arg name="gps" default="true" doc="using GPS sensor or no?" />

	<!-- URDF model with robot state publisher -->
	<include file="$(find gigatron_hardware)/launch/xacro.launch" >
		<arg name="car" value="$(arg car)" />
	</include>


	<!-- car launch file -->
	<include file="$(find gigatron_hardware)/launch/car.launch" >
		<arg name="car" value="$(arg car)" />
		<arg name="rviz" value="$(arg rviz)" />
		<arg name="gps" value="$(arg gps)" />
	</include>

	<!-- RPLIDAR or Neato XV LIDAR  -->
	<include file="$(find gigatron_hardware)/launch/sensors/$(arg lidar).launch" >
		<arg name="frame_id" default="laser_link" />
	</include>
	<include file="$(find gigatron_hardware)/launch/laser_angle_filter.launch" >
    	<arg name="input_topic" value="scan" />
    	<arg name="output_topic" value="scan_front" />
    	<arg name="filter_name" value="$(arg lidar)_angle_filter" />
	</include>

</launch>
