<?xml version="1.0"?>

<!-- kilotron.launch
     Launch file for Kilotron hardware

     @author  Syler Wagner  <syler@mit.edu>
     
     @date    2016-08-17    syler   creation
    -->

<launch>



	<arg name="mac" default="false" /> <!-- control from OS X -->
	<arg name="lidar" default="xvlidar" doc="'rplidar' or 'xvlidar'?" /> 

	<arg name="rviz" default="true" /> <!-- display robot in RViz -->

	<!-- URDF model with robot state publisher -->
	<include file="$(find gigatron_hardware)/launch/xacro.launch" >
		<arg name="model" value="$(find gigatron_hardware)/urdf/kilotron.urdf.xacro" />
	</include>

	<!-- Arduino -->
	<include file="$(find gigatron_hardware)/launch/arduino.launch" >
		<arg name="mac" value="$(arg mac)" />
		<arg name="car" value="kilotron" />
	</include>

	<!-- sensors -->

	<!-- Adafruit 9DOF IMU -->
	<!-- TODO: replace with URDF -->
	<include file="$(find gigatron_hardware)/launch/sensors/imu.launch" >
		<arg name="car" value="kilotron" />
		<arg name="frame_id" default="imu_link"/>
		<arg name="update_rate" default="0" />
	</include>
	<!-- base_link to imu_link static_transform_publisher -->
	<include file="$(find gigatron_hardware)/launch/sensor_transform.launch" >
		<arg name="car" value="kilotron" />
		<arg name="sensor" value="imu" />
	</include>

	<!-- RPLIDAR or Neato XV LIDAR  -->
	<include file="$(find gigatron_hardware)/launch/sensors/$(arg lidar).launch" >
		<arg name="frame_id" default="laser_link"/>
	</include>

	<!-- laser filters -->
	<include file="$(find gigatron_hardware)/launch/laser_filters.launch" >
		<arg name="range_filter" value="false" /> <!-- turn this off for now -->
	</include>

	<!-- RViz -->
	<include if="$(arg rviz)" file="$(find gigatron)/launch/rviz.launch" >
		<arg name="rviz_config_file" default="$(find gigatron)/rviz/kilotron.rviz"/>
	</include>

</launch>
