<?xml version="1.0"?>
<!-- laser_angle_filter.launch
     Gigatron laser angle filter launch file

     @author  Syler Wagner  <syler@mit.edu>

     @date    2016-09-13    syler   creation
-->
    <launch>

    <arg name="filter_name" doc="name of filter node" />
    <arg name="filter_type" />
    <arg name="input_topic" doc="scan topic the filter subscribes to" />
    <arg name="output_topic" doc="scan topic the filter publishes to" />


    <!-- filter scan -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="$(arg filter_name)" >
        <rosparam command="load" file="$(find gigatron_hardware)/config/sensors/$(arg filter_type)_config.yaml" />
        <remap from="scan" to="$(arg input_topic)" />
        <remap from="scan_filtered" to="$(arg output_topic)" />
    </node>
</launch>
