<launch>
	<arg name="car" doc="gigatron or kilotron?" />

	<!-- load model name for car -->
	<arg name="model" value="$(find gigatron_hardware)/urdf/$(arg car).urdf.xacro" />
	
	<!-- parse xacro into urdf -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

	<!-- robot state publisher node -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
