<?xml version="1.0"?>
<!-- localization.launch
     Launch file for car localization

     @author  Syler Wagner      <syler@mit.edu>
     
     @date    2016-09-14  syler  creation
-->
<launch>
	<!-- general settings -->
	<arg name="bag" default="false" doc="true if running on rosbagged data" />
	<arg name="rviz" default="true" /> <!-- display robot in RViz -->
    <arg name="map" default="avc" /> <!-- map file name in gigatron/maps, without the .yaml extension  -->

    <arg name="gps" doc="fusing data from GPS or no?" default="true" />

    <arg if="$(arg gps)" name="colorado" default="false" doc="true if in Colorado, used to account for magnetic declination" />


	<!-- specify which localization nodes to run -->
    <arg name="ekf_odom" default="false" doc="use ekf output 'odom/ekf' instead of raw 'odom' for amcl" />
    <arg name="ekf_map" default="true" doc="use ekf in map frame" />
    
    <!-- fuse GPS data  -->
    <arg if="$(arg gps)" name="gps_odom" default="true" doc="true if using navsat_transform_node and ekf in map frame" />

    <!-- initial pose and covariance used to initialize amcl -->
    <arg name="x" default="0" doc="initial x mean estimate [m]" />
    <arg name="y" default="0" doc="initial y mean estimate [m]" />
    <arg name="yaw" default="0" doc="initial yaw mean estimate [radians]" />
    <arg name="cov_xx" default="3" doc="initial pose covariance (x*x) estimate [m]" />
    <arg name="cov_yy" default="3" doc="Initial pose covariance (y*y) estimate [m]" />
    <arg name="cov_yaw" default="3" doc="Initial pose covariance (yaw*yaw) estimate [radians]" />

	<param name="use_sim_time" value="$(arg bag)" />

	<!--- amcl localization and map server -->
    <include file="$(find gigatron_nav)/launch/localization/amcl.launch">
        <arg name="map_server" default="true" />
        <arg name="map" value="$(arg map)" /> 
        <arg name="bag" value="$(arg bag)" />
        <arg name="ekf_odom" value="$(arg ekf_odom)" />
        <!-- initial pose and covariance -->
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg x)" />
        <arg name="yaw" value="$(arg x)" />
        <arg name="cov_xx" value="$(arg cov_xx)" />
        <arg name="cov_yy" value="$(arg cov_yy)" />
        <arg name="cov_yaw" value="$(arg cov_yaw)" />
    </include>

    <!-- ekf in odom frame -->
    <include if="$(arg ekf_odom)" file="$(find gigatron_nav)/launch/localization/ekf_odom.launch" />

    <!-- ekf in map frame -->
    <include if="$(arg ekf_map)" file="$(find gigatron_nav)/launch/localization/ekf_map.launch" >
        <arg name="ekf_odom" value="$(arg ekf_odom)" />
        <arg name="gps_odom" value="$(arg gps_odom)" />
    </include>

    <!-- navsat_transform_node -->
    <include if="$(arg gps_odom)" file="$(find gigatron_nav)/launch/navsat_transform_node.launch" >
        <arg name="ekf_map" value="$(arg ekf_map)" />
        <arg name="colorado" value="$(arg colorado)" />
    </include>

    <!-- RViz -->
    <include if="$(arg rviz)" file="$(find gigatron)/launch/rviz.launch" >
        <arg name="config" value="localization" />
    </include>

</launch>
