<?xml version="1.0"?>
<launch>

<arg name="car" doc="'gigatron' or 'kilotron'" />

<arg name="frame_id" default="imu_link"/>
<arg name="update_rate" default="20" />
<arg name="calibration_file_path" default="$(find rtimulib_ros)/config"/>
<arg name="calibration_file_name" default="RTIMULib" />

    <node pkg="rtimulib_ros" type="rtimulib_ros" name="rtimulib_node" output="screen">
        <param name="frame_id" value="$(arg frame_id)"/> <!-- /map is used for debug in RViz, to be replaced by the imu_link -->
        <param name="update_rate" value="$(arg update_rate)"/>
        <param name="calibration_file_path" value="$(arg calibration_file_path)"/>
        <param name="calibration_file_name" value="$(arg calibration_file_name)"/>
    </node>
</launch>
