<?xml version="1.0"?>
<launch>
	<arg name="frame_id" default="rplidar_link" />  
	<arg name="baud" default="115200" />
	<arg name="inverted" default="" doc="indicates whether the LIDAR is mounted inverted" />
	<arg name="angle_compensate" default="true" doc="whether the driver needs do angle compensation" /> <!-- I have no idea what this means -->

	<arg name="mac" value="$(optenv OS_X false)" /> <!-- auto detect operating system -->
	<arg unless="$(arg mac)" name="port" default="/dev/tty.rplidar" /> <!-- Ubuntu -->
	<arg if="$(arg mac)" name="port" default="/dev/tty.SLAB_USBtoUART" /> <!-- OS X -->

	<arg name="topic" default="scan" />

	<group ns="rplidar">
		<node pkg="rplidar_ros" type="rplidarNode" name="rplidar_node" output="screen">
			<param name="frame_id" value="$(arg frame_id)" /> <!-- /map is used for debug in RViz, to be replaced by the imu_link -->
			<param name="serial_port" value="$(arg port)" />  
			<param name="serial_baudrate" value="$(arg baud)" />
			<param name="inverted" value="$(arg inverted)" />
			<param name="angle_compensate" value="$(arg angle_compensate)" />
			<remap from="scan" to="$(arg topic)" />
		</node>
	</group>
</launch>
