<?xml version="1.0"?>
<!-- nav.launch
     Launch file for car navigation

     @author  Syler Wagner      <syler@mit.edu>
     
     @date    2016-09-10  syler  creation
-->
<launch>

    <arg name="bag" default="false" doc="true if running on rosbagged data" />
    <arg name="map" default="avc" /> <!-- map file name in gigatron/maps, without the .yaml extension  -->

    <!-- move_base config -->
    <arg name="car" default="gigatron" doc="'kilotron' or 'gigatron'?" />
    <arg name="teb_planner" default="true" doc="true if using teb_local_planner instead of base_local_planner" />

    <!-- specify how to run localization -->
    <arg name="ekf_map" default="true" doc="use ekf in map frame" />
    <arg name="gps" default="true" doc="fusing data from GPS or no?" />
    <arg name="colorado" default="true" doc="true if in Colorado, used to account for magnetic declination" />

    <arg name="rviz" default="false" /> <!-- display robot in RViz -->

    <!-- initial pose and covariance used to initialize amcl -->
    <arg name="x" default="0" doc="initial x mean estimate [m]" />
    <arg name="y" default="0" doc="initial y mean estimate [m]" />
    <arg name="yaw" default="0" doc="initial yaw mean estimate [radians]" />

    <!--- amcl localization and map server -->
    <include file="$(find gigatron_nav)/launch/localization/localization.launch">
        <arg name="map" value="$(arg map)" /> 
        <arg name="bag" value="$(arg bag)" />
        <arg name="ekf_map" value="$(arg ekf_map)" />
        <arg name="gps" value="$(arg gps)" />
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg x)" />
        <arg name="yaw" value="$(arg x)" />
    </include>

    <!-- move_base -->
    <include file="$(find gigatron_nav)/launch/move_base.launch">
        <arg name="car" value="$(arg car)" />
        <arg name="teb_planner" value="$(arg teb_planner)" />
    </include>

    <!-- RViz -->
    <include if="$(arg rviz)" file="$(find gigatron)/launch/rviz.launch" >
        <arg name="config" value="nav" />
    </include>

</launch>